@{
  ViewData["Title"] = "Portal";
}
@model HomePageModel

<div id="banner" class="container-fluid rounded">
  <img src="~/images/banner.jpg" style="width: 100%; height: 76vh;">

  <div class="container-fluid">
    <div>Armazene tudo sobre seus Superheróis</div>
  </div>
</div>
<div class="container-fluid" id="container-superheroes">
  <div class="display-4 text-center jumbotron-fluid mt-5">
    @(Model.Heroes.Count == 0 ? (string.IsNullOrEmpty(Model.Filtro) ? "Cadastre seus heróis agora!" : "Nenhum herói com este nome :(") :  "Heróis e mais heróis")
  </div>

  <div class="row w-100 mt-5">
    @foreach (var item in Model.Heroes)
    {
      <div id="@item.Id" class="col-lg-3 card" onmouseover="return showOptions(this);" onmouseout="return releaseOptions(this)">
        <div class="card-body">
          <div class="options">
            <div class="favorite" style="@(!item.IsFavorite ? "background-color: #000000;" : "")">
              <a onclick="return setFavorite(this);"><i class="fa fa-heart"> </i></a>
            </div>
            <div class="update">
              <a onclick="return editSuper(this)" data-toggle="modal" data-target="#modal-cad"><i class="fa fa-pencil"></i></a>
            </div><div class="delete" style="">
              <a onclick="return deleteSuper(this);"><i class="fa fa-times"></i></a>
            </div>
          </div>
          <h3>@item.Name</h3>
          <p>@item.Description</p>
          <img src="~/images/superheroes/@(item.Id).jpg" />
        </div>
      </div>
    }
  </div>

  @if (Model.Heroes.Count > 0)
  {
    <nav aria-label="Page navigation example" class="mt-5">
      <ul class="pagination pg-blue justify-content-center pagination-lg">
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1">Anterior</a>
        </li>
        @for (int i = 1; i <= Model.NumPages; i++)
        {
          <li class="page-item"><a class="page-link @(i == Model.Page ? "red" : "")">@i</a></li>
        }

        <li class="page-item">
          <a class="page-link">Próxima</a>
        </li>
      </ul>
    </nav>
  }

</div>

<div id="controls">
  <a class="fab" id="btnNew" data-toggle="modal" data-target="#modal-cad" style="bottom: 117px; right: 48px; font-size: 2.4em; ">
    <i class="fa fa-plus-square-o"></i>
  </a>
  <a asp-action="Favorites" class="fab" id="btnFavs">
    <i class="fa fa-heart-o"></i>
  </a>
</div>

<div class="modal fade" id="modal-cad" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-notify" role="document">
    <div class="modal-content">
      <div class="modal-header text-center text-dark bg-white">
        <h4 class="modal-title w-100 font-weight-bold py-2">Dados do Superherói</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="dark-text">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          @using (Html.BeginForm("Save", "Home"))
          {
          <form class="tab-pane fade show active" id="frm" role="tabpanel" aria-labelledby="frm-tab">
            <input type="text" id="txtIdent" name="superhero.Id" style="display: none;" />
            <div class="md-form mb-5">
              <i class="fa fa-pied-piper-alt fa-2x prefix text-dark" style=" font-size: 2em;"></i>
              <input type="text" required id="txtName" name="superhero.Name" class="form-control" onfocus="onEnter(this)" onblur="onExit(this)" />
              <label for="txtName">Nome do herói</label>
            </div>

            <div class="md-form">
              <i class="fa fa-sticky-note prefix text-dark" style="font-size: 41px"></i>
              <textarea type="text" id="txtDescricao" name="superhero.Description" class="md-textarea form-control" onfocus="onEnter(this)" onblur="onExit(this)" rows="3"></textarea>
              <label for="txtDescricao">Descrição</label>
            </div>
            <label class="">Foto</label>
            <div class="input-group image-preview align-items-center">
              <input type="text" required class="form-control image-preview-filename" disabled="disabled">
              <span class="input-group-btn">
                <button type="button" class="btn btn-danger image-preview-clear" style="display:none;">
                  <i class="fa fa-stop-circle-o"></i> Limpar
                </button>

                <div class="btn btn-indigo image-preview-input text-white">
                  <span class="fa fa-folder-open-o"></span>
                  <span class="image-preview-input-title">Procurar</span>
                  <input required id="inpImage" type="file" accept="image/png, image/jpeg, image/gif" />
                  <input type="text" id="content" accept="" name="superhero.Picture" style="display: none;" />
                </div>
              </span>
            </div>
            <div class="modal-footer justify-content-center flex-row">
              <button type="button" class="btn btn-outline-danger waves-effect btn-lg" data-dismiss="modal">Cancelar</button>
              <button id="btnSubmit" type="submit" class="btn btn-outline-success waves-effect btn-lg">Confirmar</button>
            </div>
          </form>
          }
          </div>
      </div>
    </div>
  </div>
</div>
